<h1>Categories</h1>

<% @categories.each do |category| %>
    <div>
        <h2><%= link_to category.title, category_path(category) %></h2>
        <p><%= category.description %></p>
    </div>
<% end %>